In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

In [ ]:
import numpy as np
import pandas as pd
import cv2
import os

In [ ]:
data = pd.read_csv('/gdrive/MyDrive/Risk Prediction/Dataset/Mortality_incidence_sociodemographic_and_clinical_data_in_COVID19_patients.csv')

In [ ]:
data.head()

,Derivation cohort,LOS_Y,LOS,Death,Age,Severity,Black,White,Asian,Latino,...,Ferritin > 300,CrctProtYes,CrctProtein,C-Reactive Prot > 10,ProCalCYes,Procalcitonin,Procalciton > 0.1,TropYes,Troponin,Troponin > 0.1
0,1,1,1,0,>80,3,0,0,0,0,...,0,1,0.4999,0,0,0.0,0,1,0.01,0
1,1,1,2,1,>60,7,0,1,0,0,...,1,1,14.9000,1,1,0.6,1,1,1.20,1
2,1,1,2,1,>80,7,0,1,0,0,...,1,1,33.9000,1,1,1.2,1,0,0.00,0
3,1,1,15,0,>70,9,1,0,0,0,...,1,1,18.4000,1,1,7.3,1,1,0.05,0
4,1,1,9,0,>70,7,1,0,0,0,...,1,1,11.6000,1,0,0.0,0,1,0.01,0

In [ ]:
data=data.drop('Age',axis=1)
data=data.drop('MAP',axis=1)
data=data.drop('PVD',axis=1)
data.head()

,Derivation cohort,LOS_Y,LOS,Death,Severity,Black,White,Asian,Latino,MI,...,Ferritin > 300,CrctProtYes,CrctProtein,C-Reactive Prot > 10,ProCalCYes,Procalcitonin,Procalciton > 0.1,TropYes,Troponin,Troponin > 0.1
0,1,1,1,0,3,0,0,0,0,0,...,0,1,0.4999,0,0,0.0,0,1,0.01,0
1,1,1,2,1,7,0,1,0,0,0,...,1,1,14.9000,1,1,0.6,1,1,1.20,1
2,1,1,2,1,7,0,1,0,0,0,...,1,1,33.9000,1,1,1.2,1,0,0.00,0
3,1,1,15,0,9,1,0,0,0,1,...,1,1,18.4000,1,1,7.3,1,1,0.05,0
4,1,1,9,0,7,1,0,0,0,0,...,1,1,11.6000,1,0,0.0,0,1,0.01,0

In [ ]:
dead_records=data[data['Death']==1]
dead_records.head()

,Derivation cohort,LOS_Y,LOS,Death,Severity,Black,White,Asian,Latino,MI,...,Ferritin > 300,CrctProtYes,CrctProtein,C-Reactive Prot > 10,ProCalCYes,Procalcitonin,Procalciton > 0.1,TropYes,Troponin,Troponin > 0.1
1,1,1,2,1,7,0,1,0,0,0,...,1,1,14.9,1,1,0.6,1,1,1.20,1
2,1,1,2,1,7,0,1,0,0,0,...,1,1,33.9,1,1,1.2,1,0,0.00,0
5,1,1,14,1,5,0,1,0,0,0,...,0,1,5.5,0,1,2.1,1,1,0.01,0
10,1,1,6,1,5,0,1,0,0,0,...,0,1,12.7,1,1,0.1,0,1,0.01,0
11,1,1,6,1,7,1,0,0,0,0,...,1,1,28.6,1,1,0.4,1,1,0.04,0

In [ ]:
dead_records.shape

(1148, 82)

In [ ]:
dead_records_img=dead_records.drop(['Death'],axis = 1)

In [ ]:
dead_records_img.shape

(1148, 81)

In [ ]:
recovered_records=data[data['Death']==0]
recovered_records.head()

,Derivation cohort,LOS_Y,LOS,Death,Severity,Black,White,Asian,Latino,MI,...,Ferritin > 300,CrctProtYes,CrctProtein,C-Reactive Prot > 10,ProCalCYes,Procalcitonin,Procalciton > 0.1,TropYes,Troponin,Troponin > 0.1
0,1,1,1,0,3,0,0,0,0,0,...,0,1,0.4999,0,0,0.0,0,1,0.01,0
3,1,1,15,0,9,1,0,0,0,1,...,1,1,18.4000,1,1,7.3,1,1,0.05,0
4,1,1,9,0,7,1,0,0,0,0,...,1,1,11.6000,1,0,0.0,0,1,0.01,0
6,1,1,4,0,2,1,0,0,0,0,...,0,1,7.3000,0,0,0.0,0,0,0.00,0
7,1,1,3,0,3,0,1,0,0,0,...,1,1,1.5000,0,1,0.3,1,1,0.01,0

In [ ]:
recovered_records.shape

(3563, 82)

In [ ]:
recovered_records_img=recovered_records.drop(['Death'],axis = 1)

In [ ]:
recovered_records_img.shape

(3563, 81)

In [ ]:
def convert2image(row):
    img = row.values
    img = img.reshape(9,9)  # dimensions of the image
    image = np.zeros((9,9,1))  # empty matrix
    image[:,:,0] = img
    return image.astype(np.uint8)

In [ ]:
count1 = 0  # initialize counter
for i in range(1, dead_records_img.shape[0]):  #data.shape[0] gives no. of rows
  face = dead_records_img.iloc[i]  # remove one row from the data
  img = convert2image(face)  # send this row of to the function 
  # cv2.imshow("image", img) 
  # cv2.waitKey(0)  # closes the image window when you press a key   
  count1+=1  # counter to save the images with different name 
  if count1<=918:
    cv2.imwrite('/gdrive/MyDrive/Risk Prediction/Dataset/Image dataset/Train/Dead/'+ str(count1) +'.jpg',img) # path of location
  else:
    cv2.imwrite('/gdrive/MyDrive/Risk Prediction/Dataset/Image dataset/Test/Dead/'+ str(count1) +'.jpg',img)

In [ ]:
count2 = 0  # initialize counter
for i in range(1, recovered_records_img.shape[0]):  #data.shape[0] gives no. of rows
  face = recovered_records_img.iloc[i]  # remove one row from the data
  img = convert2image(face)  # send this row of to the function 
  # cv2.imshow("image", img) 
  # cv2.waitKey(0)  # closes the image window when you press a key   
  count2+=1  # counter to save the images with different name         
  if count2<=2850:
    cv2.imwrite('/gdrive/MyDrive/Risk Prediction/Dataset/Image dataset/Train/Recovered/'+ str(count2) +'.jpg',img) # path of location
  else:
    cv2.imwrite('/gdrive/MyDrive/Risk Prediction/Dataset/Image dataset/Test/Recovered/'+ str(count2) +'.jpg',img)